.stateitem {
    font-weight: bold;
    color: white;
}

.stateitem_border_tr {
    border-top-right-radius: 0.7em;
}

.stateitem_border_tl {
    border-top-left-radius: 0.7em;
}

.stateitem_border_br {
    border-bottom-right-radius: 0.7em;
}

.stateitem_border_bl {
    border-bottom-left-radius: 0.7em;
}

.stateitem_num {
    color: white;
    background-color: rgb(83, 83, 83);
}

.stateitem_alias {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    background-color: rgb(52, 141, 201);
}

.stateitem_name {
    background-color: rgb(107, 166, 206);
}

.stateitem_amount {
    color: black;
    background-color: rgb(168, 191, 206);
}

.stateitem_state_1 {
    background-color: rgb(5, 160, 0);
}

.stateitem_state_2 {
    background-color: rgb(252, 164, 0);
}

.stateitem_state_3 {
    background-color: rgb(201, 45, 45);
}

.stateitem_center {
    display: flex;
    justify-content: center;
    align-items: center;
}